@model List<FormListDto>
@await Html.PartialAsync("_FormCreatePartialView",new FormCreateDto())

<link href="~/css/styles.css" rel="stylesheet" />


@if (TempData["info"] != null)
{
    
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>Warning</strong>  @TempData["info"].ToString()
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

}

@if (Model.Count > 0)
{
    <div class="container">
        <div class="col-md-9">
            <div>
                @if (User.Identity.IsAuthenticated)
                {
                    <a class="btn btn-outline-success mt-3" data-bs-toggle="modal" data-bs-target="#myModal">
                        Create Form
                    </a>
                }
                else
                {
                    <a type="button" class="btn btn-outline-success mt-3" asp-controller="Account" asp-action="SignIn">Create Form</a>
                }
            </div>
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-sm-auto">
                        <div class="card mt-4" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title text-danger">@item.Title</h5>
                                <p class="card-text">@Html.Raw(item.Content)</p>
                                <a href="#" class="card-link">Reply</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
}
else
{
    <div class="container-fluid">
        <div class="text-center">
            <h5 class="text-danger mt-5">There is currently no form created. Would you like to be the first to create a form?</h5>
        </div>
        <div class="text-center mt-3">
            @if (User.Identity.IsAuthenticated)
            {
                <a class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#myModal">Create Form</a>
            }
            else
            {
                <a class="btn btn-outline-info" asp-controller="Account" asp-action="SignIn">Create Form</a>
            }
        </div>
    </div>
}





