@model UserCreateModel
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login V3</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="~/themes/SignIn/Login_v3/images/icons/favicon.ico" />
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/themes/SignIn/Login_v3/vendor/bootstrap/css/bootstrap.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/themes/SignIn/Login_v3/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/themes/SignIn/Login_v3/fonts/iconic/css/material-design-iconic-font.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/themes/SignIn/Login_v3/vendor/animate/animate.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/themes/SignIn/Login_v3/vendor/css-hamburgers/hamburgers.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/themes/SignIn/Login_v3/vendor/animsition/css/animsition.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/themes/SignIn/Login_v3/vendor/select2/select2.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/themes/SignIn/Login_v3/vendor/daterangepicker/daterangepicker.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/themes/SignIn/Login_v3/css/util.css">
	<link rel="stylesheet" type="text/css" href="~/themes/SignIn/Login_v3/css/main.css">
	<!--===============================================================================================-->
</head>
<body>

	<div class="limiter">
		<div class="container-login100" style="background-image: url('/images/bg-01.jpg');">
			<div class="wrap-login100">
				<form asp-controller="Account" asp-action="SignUp" class="login100-form validate-form" >
					<span class="login100-form-logo">
						<img src="~/images/LenaLogo.png" />
					</span>

					<span class="login100-form-title p-b-34 p-t-27">
						Sign Up
					</span>

					<div class="wrap-input100 validate-input" data-validate="Enter firstname">
						<input asp-for="Firstname" class="input100" type="text" name="firstname" placeholder="Firstname">
						<span class="focus-input100"></span>
					</div>
					<div class="wrap-input100 validate-input" data-validate="Enter surname">
						<input asp-for="Surname" class="input100" type="text" name="surname" placeholder="Surname">
						<span class="focus-input100"></span>
					</div>
					<div class="wrap-input100 validate-input" data-validate="Enter username">
						<input asp-for="Username" class="input100" type="text" name="username" placeholder="Username">
						<span class="focus-input100"></span>
					</div>
					<div class="wrap-input100 validate-input" data-validate="Enter phonenumber">
						<input asp-for="PhoneNumber" class="input100" type="tel" name="phonenumber" placeholder="PhoneNumber">
						<span class="focus-input100"></span>
					</div>
					<div class="wrap-input100 validate-input" data-validate="Enter email">
						<input asp-for="Email" class="input100" type="email" name="email" placeholder="Email">
						<span class="focus-input100"></span>
					</div>
					<div class="wrap-input100 validate-input" data-validate="Enter Birthdate">
						<input asp-for="BirthDate" class="input100" type="date" name="BirthDate">
						<span class="focus-input100"></span>
					</div>
					<div class="wrap-input100 validate-input" data-validate="Enter gender">
						<select class="form-control" id="gender" name="gender" required>
							<option value="">Select Gender</option>
							<option value="@GenderType.Erkek">Male</option>
							<option value="@GenderType.Kadın">Female</option>
						</select>
						<span class="focus-input100"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate="Enter password">
						<input asp-for="Password" class="input100" type="password" name="password" placeholder="Password">
						<span class="focus-input100"></span>
					</div>
					<div class="wrap-input100 validate-input" data-validate="Enter password">
						<input asp-for="ConfirmPassword" class="input100" type="password" name="confirmpassword" placeholder="ConfirmPassword">
						<span class="focus-input100"></span>
					</div>
				
					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							Sign Up
						</button>
					</div>
					<div class="text-danger text-center" asp-validation-summary="All">
					</div>
					<div class="text-center p-t-90">
						<a asp-controller="Account" asp-action="SignIn" class="txt1">
							SignIn
						</a>
					</div>
					
				</form>
			</div>
		</div>
	</div>


	<div id="dropDownSelect1"></div>

	<!--===============================================================================================-->
	<script src="~/themes/SignIn/Login_v3/vendor/jquery/jquery-3.2.1.min.js"></script>
	<!--===============================================================================================-->
	<script src="~/themes/SignIn/Login_v3/vendor/animsition/js/animsition.min.js"></script>
	<!--===============================================================================================-->
	<script src="~/themes/SignIn/Login_v3/vendor/bootstrap/js/popper.js"></script>
	<script src="~/themes/SignIn/Login_v3/vendor/bootstrap/js/bootstrap.min.js"></script>
	<!--===============================================================================================-->
	<script src="~/themes/SignIn/Login_v3/vendor/select2/select2.min.js"></script>
	<!--===============================================================================================-->
	<script src="~/themes/SignIn/Login_v3/vendor/daterangepicker/moment.min.js"></script>
	<script src="~/themes/SignIn/Login_v3/vendor/daterangepicker/daterangepicker.js"></script>
	<!--===============================================================================================-->
	<script src="~/themes/SignIn/Login_v3/vendor/countdowntime/countdowntime.js"></script>
	<!--===============================================================================================-->
	<script src="~/themes/SignIn/Login_v3/js/main.js"></script>

</body>
</html>